#head {
    display: flex;
    justify-content: flex-start;
    padding: 100px 20px 20px 10%;
}

#head__text {
    padding: 100px 20px;
    color: white;
}

#head__text h1 {
    font-size: 70px;
    padding: 10px 0;
}

#head__text p {
    font-weight: 100;
    font-size: 25px;
    padding: 10px 0;
}

#head h1, #head li, #head a, #head p {
    list-style: none;
    text-decoration: none;
    color: white;
}

.head__buttons {
    padding: 20px 0;
}

.head__buttons li {
    display: inline-block;
}

.head__buttons a {
    margin-right: 10px;
    padding: 9px 20px;
}

.shapes {
    width: 80vh;
    z-index: -100;
    top: 130px;
    right: 10%;
    position: absolute;
}
