.logo {
    cursor: pointer;
    width: 50px;
    margin-right: auto;
}

header {
    background: #181d1f;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 10%;
    border-bottom: solid 1px #ff8df5;
}

header li, header a {
    font-weight: 500;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    align-items: center;
}

.header__buttons {
    list-style: none;
}

.header__buttons li {
    display: inline-block;
    padding: 0 20px;
}

.header__buttons li a {
    transition: all 0.3s ease 0s;
}

.header__buttons li a:hover {
    color: #ff8df5;
}

#header__github {
    margin: 0 20px;
    padding: 9px 25px;
    background-color: #ff8df5;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

#header__github:hover {
    background-color: #d553ca;
}